<div class="container-fuild">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="/customer/home">
                <img src="/images/logo.png" alt="Logo" width="100" style="margin-top: 8px;">
            </a>            
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/customer/home" style="color: #f33636">Home</a>
        </li>
        <li class="nav-item dropdown" id="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% dataHeaderSp.forEach((data) => { 
                        %>
                        <li><a class="dropdown-item" href="/customer/san-pham/loai-san-pham/<%= data.ID %> "><%= data.Ten %></a></li>
                    <% 
                }) %>
                
            </ul>
        </li>
        <li class="nav-item dropdown" id="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Origin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% dataHeaderXx.forEach((data) => { 
                        %>
                        <li><a class="dropdown-item" href="/customer/san-pham/xuat-xu/<%= data.ID %> "><%= data.XuatXu %></a></li>
                    <% 
                }) %>
            </ul>
        </li>
        <li>
            <form class="d-flex" action="/customer/san-pham/search" method="post" action="/customer/san-pham/search">
                <input class="form-control me-2" type="search" placeholder="Search ..." aria-label="Search" name="search">
                <button type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>              
        </li>
        <% if(!sessionID) { %>
            <li class="nav-item">
                <a href="/customer/login" class="nav-link signup-icon">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </li>              
        <% } else { %>
            <div class="dropdown">
                <button class="account-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="account-avatar">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <div class="account-name">
                        <%= sessionID.TenTK %>
                    </div>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/customer/changePass">Change Password</a></li>
                <li><a class="dropdown-item" href="/customer/cart">Cart</a></li>
                <li><a class="dropdown-item" href="/customer/don-hang">Existing orders</a></li>
                <li><a class="dropdown-item" href="/customer/don-hang/lich-su">Order history</a></li>
                <li><a class="dropdown-item" href="/customer/login">Log Out</a></li>
                </ul>
            </div>
        <% } %>
    </ul>
    <script src="/customer/js/popper.min.js"></script>
    <script src="/customer/js/bootstrap.min.js"></script>
</div>